/*html elements */

body{
 
margin:0px;
}

/* classes */

.column1-3{
width:33.3%;
}

.column2-3{
width:66.7%;
}

.header {
background-color:black;
text-align:center;
color:white;
padding: 5px;
}

.place-img {
border-right:25px;
height:200px;
width:200px;
}

.left-float {
float:left;
}

.top-container{
margin: 25px auto;
width:960px;
}
.name-container{
   
}