/*html elements */

body{
 margin:0px;
}

/* classes */

.left-float {
float:left;
}

.header {
background-color:black;
text-align:center;
color:white;
padding: 5px;
}

.top-container{
margin: 25px 25px;
}
.name-container{
   
}